input[type="text"] {
    background: pink;
}

div[data-cosa="miCosa"] {
    color: 'red';
}

div.paint {
    width: 10px;
    height: 10px;
    border: 1px solid red;
    background: black;
    position: absolute;
}